.page {
    padding: 0;
    font: 12px "Tahoma";
    display: flex;
    flex-direction: column;
    background: white;
}

.page-content {
    height: 100%;
    margin: 1cm;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

#song-title {
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 24px;
}

#song-artist {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 8px;
}

#song-details {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 24px;
}

#chord-section {
    flex: 1 1 auto;
    min-height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 1%;
    justify-content: start;
    align-content: space-between;
    overflow: hidden;
}

.segment {
    width: 49%;
}

.segment-title {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 16px;
}

.end-of-segment {
    margin-bottom: 24px;
}

.line {
    padding-left: 8px;
    padding-right: 8px;
}

.chord-line {
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: bold;
}

.lyric-line {
    margin-top: 0;
    margin-bottom: 8px;
}

.flat-chord {
    letter-spacing: -3px;
}