body {
    margin: 0;
    background-color: #FAFAFA;
}

.page {
    margin: 1cm auto;
    width: 21cm;
    height: 29.7cm;
    border: 1px #D3D3D3 solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}