/* Variables */
:root {
    --primary-colour: #FF8B61;
    --primary-colour-highlight: #FFC0A9;
    --primary-colour-light: #FFF0EA;
    --primary-background-shade: #FFF8F5;
    --secondary-colour: #3F1E00;
    --secondary-colour-dark: #351900;
    --secondary-colour-light: #897462;
    --neutral-colour-light: #F0F0F0;
    --neutral-colour-dark: #4B4239;
    --white-colour: #FFFFFF;
    --primary-font: "Roboto Condensed";
}


/* Resetting default HTML where necessary */
h1 {
    font-weight: normal;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h2 {
    font-weight: normal;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* Layout styles (parent) */
.horizontal-layout {
    display: flex;
}

.split-between-two > * {
    flex-basis: auto;
}

.vertical-layout {
    display: flex;
    flex-direction: column;
}

.small-horizontal-gap {
    column-gap: 8px;
}

.medium-horizontal-gap {
    column-gap: 16px;
}

.large-horizontal-gap {
    column-gap: 32px;
}

.small-vertical-gap {
    row-gap: 8px;
}

.medium-vertical-gap {
    row-gap: 16px;
}

.large-vertical-gap {
    row-gap: 32px;
}

.spread-out {
    justify-content: space-between;
}

.primary-middle {
    justify-content: center;
}

.primary-right {
    justify-content: right;
}

.secondary-middle {
    align-items: center;
}

.vertical-scroll {
    overflow-y: auto;
}

.wrap-around {
    flex-wrap: wrap;
}


/* Layout styles (children) */
.fill-space {
    flex-grow: 1;
}

.fill-space-small-only {
    flex-grow: auto;
}


/* Text styles */
.site-heading-text {
    color: var(--secondary-colour);
    font-size: 2rem;
    line-height: 2.5rem;
}

.key-text {
    color: var(--secondary-colour);
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.key-text.primary-background {
    color: var(--secondary-colour-dark);
}

.support-text {
    color: var(--neutral-colour-dark);
    font-size: 1rem;
    line-height: 1.25rem;
}

.no-text-decoration {
    text-decoration: none;
}


/* Background colour styles */
.primary-background-light {
    background-color: var(--primary-colour-light);
}

.change-on-hover.primary-background-light:hover {
    background-color: var(--primary-colour-shade);
}

.primary-background {
    background-color: var(--primary-colour);
}

.primary-background-shade {
    background-color: var(--primary-background-shade);
}

.change-on-hover.primary-background:hover {
    background-color: var(--primary-colour-highlight);
}

.white-background {
    background-color: var(--white-colour);
}

.neutral-light-background {
    background-color: var(--neutral-colour-light);
}


/* Padding styles */
.large-horizontal-padding {
    padding-left: 16px;
    padding-right: 16px;
}

.large-right-padding {
    padding-right: 16px;
}

.medium-horizontal-padding {
    padding-left: 8px;
    padding-right: 8px;
}

.large-vertical-padding {
    padding-top: 16px;
    padding-bottom: 16px;
}

.medium-vertical-padding {
    padding-top: 8px;
    padding-bottom: 8px;
}

.small-vertical-padding {
    padding-top: 4px;
    padding-bottom: 4px;
}

.extra-large-vertical-padding {
    padding-top: 24px;
    padding-bottom: 24px;
}

.large-bottom-padding {
    padding-bottom: 16px;
}

.medium-bottom-padding {
    padding-bottom: 8px;
}

.medium-top-padding {
    padding-top: 8px;
}


/* Size styles */
.fix-to-screen-height {
    height: 100vh;
}

.medium-min-width {
    min-width: 16rem;
}

.small-min-width {
    min-width: 8rem;
}

.large-height {
    height: 28.5rem;
    max-height: 70vh;
}


/* Shadow styles */
.close-to-back-shadow {
    box-shadow: -0.5px 1px 2px 1px rgba(0, 0, 0, 0.02);
}

.medium-shadow {
    box-shadow: -0.5px 1px 2px 0px rgba(0, 0, 0, 0.02),
    -1px 2px 4px 0.5px rgba(0, 0, 0, 0.02),
    -2px 4px 8px 1px rgba(0, 0, 0, 0.02);
}

.far-from-back-shadow {
    box-shadow: -0.5px 1px 2px 0px rgba(0, 0, 0, 0.02),
    -1px 2px 4px 0.25px rgba(0, 0, 0, 0.02),
    -2px 4px 8px 1px rgba(0, 0, 0, 0.02),
    -4px 8px 16px 2px rgba(0, 0, 0, 0.02),
    -8px 16px 2rem 4px rgba(0, 0, 0, 0.02); 
}


/* Border styles */
.medium-border-radius {
    border-radius: 4px;
}

.bottom-border {
    border-bottom: 2px solid var(--secondary-colour);
}

.full-primary-border {
    border: 1px solid var(--primary-colour);
}

.full-secondary-light-border {
    border: 1px solid var(--secondary-colour-light);
}

/* Transformation styles */
.rotate-180 {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

/* Interactive element styles */
.text-selection * {
    cursor: text;
}

.non-text-clickable {
    cursor: pointer;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
}

textarea {
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
}


@media (width <= 1151px) {
    .split-between-two {
        flex-wrap: wrap;
    }

    .split-between-two > * {
        flex-basis: 100%;
    }

    .auto-screen-height-for-non-large {
        height: auto;
    }

    .no-scroll-for-non-large {
        overflow-y: auto;
    }
}

@media (width <= 703px) {
    .fill-space-small-only {
        flex-grow: 1;
    }

    .primary-middle-small-only {
        justify-content: center;
    }

    .medium-horizontal-gap-small-only {
        column-gap: 16px;
    }
}