:root {
    --primary-colour: #FF8B61;
    --primary-colour-highlight: #FFC0A9;
    --primary-colour-light: #FFF0EA;
    --primary-background-shade: #FFF8F5;
    --secondary-colour: #3F1E00;
    --neutral-colour-light: #F0F0F0;
    --neutral-colour-dark: #4B4239;
    --white-colour: #FFFFFF;
    --primary-font: "Roboto Condensed";
}


/* Layout styles (parent) */
.horizontal-layout {
    display: flex;
}

.vertical-layout {
    display: flex;
    flex-direction: column;
}

.small-gap {
    gap: 8px;
}

.medium-gap {
    gap: 16px;
}

.spread-out {
    justify-content: space-between;
}

.vertical-middle {
    display: flex;
    align-items: center;
}

.vertical-scroll {
    overflow-y: auto;
}


/* Layout styles (children) */
.fill-space {
    flex-grow: 1;
}


/* Text styles */
.site-heading-text {
    color: var(--secondary-colour);
    font-size: 2rem;
    line-height: 2.5rem;
}

.key-text {
    color: var(--secondary-colour);
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.support-text {
    color: var(--neutral-colour-dark);
    font-size: 1rem;
    line-height: 1.25rem;
}

.no-text-decoration {
    text-decoration: none;
}


/* Background colour styles */
.primary-background-light {
    background-color: var(--primary-colour-light);
}

.primary-background {
    background-color: var(--primary-colour);
}

.primary-background-shade {
    background-color: var(--primary-background-shade);
}

a.primary-background:hover {
    background-color: var(--primary-colour-highlight);
}

.white-background {
    background-color: var(--white-colour);
}


/* Padding styles */
.large-horizontal-padding {
    padding-left: 16px;
    padding-right: 16px;
}

.large-right-padding {
    padding-right: 16px;
}

.medium-horizontal-padding {
    padding-left: 8px;
    padding-right: 8px;
}

.large-vertical-padding {
    padding-top: 16px;
    padding-bottom: 16px;
}

.medium-vertical-padding {
    padding-top: 8px;
    padding-bottom: 8px;
}

.large-bottom-padding {
    padding-bottom: 16px;
}

.medium-top-padding {
    padding-top: 8px;
}


/* Size styles */
.medium-min-width {
    min-width: 16rem;
}

.small-min-width {
    min-width: 8rem;
}


/* Shadow styles */
.drop-shadow {
    filter: drop-shadow(-0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.06));
}


/* Border radius styles */
.medium-border-radius {
    border-radius: 4px;
}


/* Input styles */
.text-selection * {
    cursor: text;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
}